header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #088395;
    color: #fff;
}
header a {
    text-decoration: none;
    color: inherit;
}
header h1 {
    margin: 0;
}

.header-logo {
    width: 30px;
    height: 30px;
}
.header-title {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header-title a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: -5px;
}

.link-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}
.link-container a {
    font-size: 20px;
    font-family: 'Segoe UI', serif;
    transition: transform 0.3s ease;
}
.link-container a:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.2) rotate(10deg);
}

.link-button

.button-container {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: flex-start;
}
.rounded-button {
    border-radius: 20px;
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Segoe UI', serif;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.rounded-button:hover {
    background-color: #333;
    color: #fff;
}
.rounded-button:active {
    animation: button-click 0.3s linear;
}
@keyframes button-click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
